<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cactus</title>

    <!-- jquery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper for Tooltip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">

    <!-- Custom JS Files -->
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tooltip.js' %}" type="text/javascript"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm   navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#baseNavBar" aria-controls="baseNavBar" aria-expanded="false" aria-label="Navigate">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="baseNavBar">

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'index_view' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'Data_Science_Web_App:data_upload' %}">Data Upload</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'Data_Science_Web_App:AlgorithmView' %}">Algorithms</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'Data_Science_Web_App:VisualView' %}">Visualizations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'Data_Science_Web_App:AboutView' %}">About Us</a>
            </li>

            <div id="myDropdownNav" class="dropdown-content topcorner">
              <input type="text" placeholder="Search Functionalities..." id="myInputNav" onkeyup="filterFunctionNav()">
              <a href="{% url 'Data_Science_Web_App:variable_statistics' %}">Variable Statistics</a>
              <a href="{% url 'Data_Science_Web_App:log' %}">Logarithm</a>
              <a href="{% url 'Data_Science_Web_App:gaussian' %}">Gaussian Smoothing</a>
              <a href="{% url 'Data_Science_Web_App:density' %}">Density Function</a>
              <a href="{% url 'Data_Science_Web_App:transformation' %}">Data Transformation</a>
              <a href="{% url 'Data_Science_Web_App:custom' %}">Custom Algorithm</a>
              <a href="{% url 'Data_Science_Web_App:plot' %}">Scatter Plot</a>
              <a href="{% url 'Data_Science_Web_App:histoplot' %}">Histogram</a>
              <a href="{% url 'Data_Science_Web_App:visual' %}">Visualization</a>
              <a href="{% url 'Data_Science_Web_App:interpolation' %}">Interpolation</a>
              <a href="{% url 'Data_Science_Web_App:curve_fitter' %}">Curve Fitter</a>
            </div>

          </ul>
        </div>
      </nav>
      {% block body_block %}
      {% endblock %}
  </body>
</html>
