{% extends 'Data_Science_Web_App/base.html' %}
{% block body_block %}
<center>
      <h1>Data Science Tool HTML Shell</h1>
  </center>
  <div class="center" style="overflow-y:auto;">
      <center>
          <table>
              <td style="width: 15%;"><b>Step 1: Upload Data</b></td>
              <td>
                  <form action="/action_page.php">
                      <input type="file" id="myFile" name="filename">
                      <input type="submit">
                  </form>
                  <button onclick="toStep2()" id="btGrp1">Next Step</button>
              </td>
          </table>
          <br>
          <table id="step2">
              <td style="width: 15%;"><b>Step 2: Select Preprocessing Algorithm</b></td>
              <td>
                  <button class="accordion">None</button>
                  <div class="panel">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep3();preAlg1();" id="btGrp2-1">Next Step</button>
                      <p></p>
                  </div>

                  <button class="accordion">Alg #1</button>
                  <div class="panel">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep3();preAlg2();" id="btGrp2-2">Next Step</button>
                      <p></p>
                  </div>

                  <button class="accordion">Alg #2</button>
                  <div class="panel">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep3();preAlg3();" id="btGrp2-3">Next Step</button>
                      <p></p>
                  </div>
              </td>
          </table>
          <br>
          <table id="step3">
              <td style="width: 15%;"><b>Step 3: Select Main Algorithm</b></td>
              <td>
                  <button class="accordion1">Alg #1</button>
                  <div class="panel1">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep4();alg1();" id="btGrp3-1">Next Step</button>
                      <p></p>
                  </div>

                  <button class="accordion1">Alg #2</button>
                  <div class="panel1">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep4();alg2();" id="btGrp3-2">Next Step</button>
                      <p></p>
                  </div>

                  <button class="accordion1">Alg #3</button>
                  <div class="panel1">
                      <p>Description:</p>
                      <p><b>Necessary Conditions:</b></p>
                      <button onclick="toStep4();alg3();" id="btGrp3-3">Next Step</button>
                      <p></p>
                  </div>
              </td>
          </table>
          <br>
          <table id="step4">
              <td style="width: 15%;"><b>Output:</b></td>
              <td>
                  <div id="finalOutput"></div>
              </td>
          </table>
      </center>
    </div>
{% endblock %}
