{% extends 'Data_Science_Web_App/base.html' %}
{% load static %}
{% block body_block %}

    <center>
        <h1>Data Science Tool </h1>
    </center>
    <div class="center" style="overflow-y:auto;">
        <center>
            <table id="main">
                <td>
                    <button class="accordion">#1 - Gaussian Smoothing</button>
                    <div class="panel">
                        <p>Description:</p>
                        <p><b>Necessary Conditions:</b></p>
                        <form action="{% url 'Data_Science_Web_App:gaussian' %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Select">
                        </form>
                        <!-- <button onclick="preAlg1()" id="bt1">Select</button> -->
                        <p></p>
                    </div>

                    <button class="accordion">#2 - Density Function</button>
                    <div class="panel">
                        <p>Description:</p>
                        <p><b>Necessary Conditions:</b></p>
                        <form action="{% url 'Data_Science_Web_App:density' %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Select">
                        </form>
                        <p></p>
                    </div>

                    <button class="accordion">#3 - Interpolation of NAN</button>
                    <div class="panel">
                        <p>Description:</p>
                        <p><b>Necessary Conditions:</b></p>
                        <form action="{% url 'Data_Science_Web_App:interpolation' %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Select">
                        </form>
                        <p></p>
                    </div>

                    <button class="accordion">#4 - Variable Statistics</button>
                    <div class="panel">
                        <p><b>Description:</b> Outputs simple variable statistics for one variable. (Mean, median, mode, range, standard deviation)</p>
                        <p><b>Necessary Conditions:</b> 1 variable data</p>
                        <p><b>Read More:</b>https://en.wikipedia.org/wiki/Mean, https://en.wikipedia.org/wiki/Median, etc (we will actually add all of them but I’m too lazy to for this mockup.</p>
                        <form action="{% url 'Data_Science_Web_App:variable_stats' %}" method="GET">
                          {% csrf_token %}
                          <input type="submit" value="Select">
                        </form>
                        <p></p>
                    </div>

                    <button class="accordion">#5 - Data Transformation</button>
                    <div class="panel">
                        <p>Description:</p>
                        <p><b>Necessary Conditions:</b></p>
                        <form action="{% url 'Data_Science_Web_App:transformation' %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Select">
                        </form>
                        <p></p>
                    </div>
                </td>
            </table>
        </center>
    </div>

    <!-- Custom JS Files -->
    <script src="{% static 'js/main_page.js' %}" type="text/javascript">
{% endblock %}
