{% extends 'Data_Science_Web_App/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Data Upload</h1>
    <br>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class='btn btn-primary' data-toggle="tooltip" data-placement="top" title="Upload your data!" value="Upload">
    </form>
    <br>
    <br>
    <br>
    <br>
    {% if success %}
      {{ message }}
    {% else %}
      {{ error_message }}
    {% endif %}
  </div>
</div>
{% endblock %}
