{% extends 'Data_Science_Web_App/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Variable Statistics</h1>
    <br>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class='btn btn-primary' data-toggle="tooltip" data-placement="top" title="Submit your data!" value="Submit">
    </form>
    <br>
    <br>
    <br>
    {% if success %}
      {% if left == 'is' %}
        <table>
          <tr>
            <th>Mean</th>
            <th>Median</th>
            <th>Mode</th>
          </tr>
          <tr>
            <td>{{ num }}</td>
            <td>{{ mid }}</td>
            <td>{{ mode }}</td>
          </tr>
        </table>
      {% else %}
        <table>
          <tr>
            <th>Mean</th>
            <th>Left Median</th>
            <th>Median</th>
            <th>Right Median</th>
            <th>Mode</th>
          </tr>
          <tr>
            <td>{{ num }}</td>
            <td>{{ left }}</td>
            <td>{{ mid }}</td>
            <td>{{ right }}</td>
            <td>{{ mode }}</td>
          </tr>
        </table>
      {% endif %}
      <br>
      <br>
      <table>
        <tr>
          <th>Standard Deviation</th>
          <th>Variance</th>
          <th>Range</th>
          <th>IQR</th>
          <th>Quartile 1</th>
          <th>Quartile 3</th>
        </tr>
        <tr>
          <td>{{ std }}</td>
          <td>{{ variance }}</td>
          <td>{{ range }}</td>
          <td>{{ IQR }}</td>
          <td>{{ Q1 }}</td>
          <td>{{ Q3 }}</td>
        </tr>
      </table>
      <br>
      <br>
      <table>
        <tr>
          <th>Z-score: -3</th>
          <th>Z-score: -2</th>
          <th>Z-score: -1</th>
          <th>Z-score: 1</th>
          <th>Z-score: 2</th>
          <th>Z-score: 3</th>
        </tr>
        <tr>
          <td>{{ std3lower }}</td>
          <td>{{ std2lower }}</td>
          <td>{{ std1lower }}</td>
          <td>{{ std1upper }}</td>
          <td>{{ std2upper }}</td>
          <td>{{ std3upper }}</td>
        </tr>
      </table>
    {% else %}
      <h3>{{ message }}</h3>
    {% endif %}
  </div>
</div>




{% endblock %}
