{% extends 'Data_Science_Web_App/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Variable Statistics</h1>
    <br>
    <p>Given a list of numbers, the average of the numbers will be displayed</p>
    <form enctype='multipart/form-data' method="POST">
      {% csrf_token %}
      <label>Please upload a CSV file with only numbers</label>
      <br>
      <br>
      <input type="file" name="file_name">
      <br>
      <br>
      <label>or enter your data below</label>
      <br>
      <br>
      <textarea name="csv_text" rows="8" cols="80"></textarea>
      <br>
      <br>
      <label for="key_field">If you have a key, enter it here</label>
      <input type="text" name="key_field" placeholder="Enter your key here">
      <br>
      <button type="submit">Upload</button>
    </form>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Here is the average of all of the numbers inside of your CSV file:</h2>
    <br>
    <h3>{{ num }}</h3>
  </div>

</div>

<div class="jumbotron">
  <div class="container">
    {% if left == 'is' %}
      <h2>Here is the median of all of the numbers inside of your CSV file:</h2>
      <br>
      <h3>{{ mid }}</h3>
    {% else %}
      <h2>Here is the median of all of the numbers inside of your CSV file:</h2>
      <br>
      <h3>Left Median: {{ left }}</h3>
      <br>
      <h3>Median: {{ mid }}</h3>
      <br>
      <h3>Right Median: {{ right }}</h3>
    {% endif %}
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Here is the mode of all of the numbers inside of your CSV file:</h2>
    <br>
    <h3>{{ mode }}</h3>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Here is the standard deviation of your CSV file: </h2>
    <br>
    <h3>{{ std }}</h3>
    <br>
    <h2>Here is the value that is one standard deviation left from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std1lower }}</h3>
    <br>
    <h2>Here is the value that is one standard deviation right from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std1upper }}</h3>
    <br>
    <h2>Here is the value that is two standard deviations left from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std2lower }}</h3>
    <br>
    <h2>Here is the value that is two standard deviations right from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std2upper }}</h3>
    <br>
    <h2>Here is the value that is three standard deviations left from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std3lower }}</h3>
    <br>
    <h2>Here is the value that is three standard deviations right from the mean in your CSV file: </h2>
    <br>
    <h3>{{ std3upper }}</h3>
    <br>
    <h2>Here is the variance of your CSV file: </h2>
    <br>
    <h3>{{ variance }}</h3>
    <br>
    <h2>Here is the first quartile of your CSV file: </h2>
    <br>
    <h3>{{ Q1 }}</h3>
    <br>
    <h2>Here is the third quartile of your CSV file: </h2>
    <br>
    <h3>{{ Q3 }}</h3>
    <br>
    <h2>Here is the Interquartile Range (IQR) of your CSV file: </h2>
    <br>
    <h3>{{ IQR }}</h3>
    <br>
    <h2>Here is the range of your CSV file: </h2>
    <br>
    <h3>{{ range }}</h3>

  </div>
</div>
{% endblock %}
